<ion-content class="login-container">

  <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
    <ion-card>
      <ion-card-content>
        
        <ion-row>
          <ion-col>
            <app-input
              [control]="email"
              type="email"
              label="Email"
              labelPlacement="floating"
              placeholder="omar@gmail.com">
            </app-input>
          </ion-col>
        </ion-row> 

        <ion-row>
          <ion-col>
            <app-input
              [control]="password"
              type="password"
              label="Password"
              labelPlacement="floating"
              placeholder="********">
            </app-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <a [routerLink]="['/register']">Register</a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-button
              type="submit"
              color="primary"
              value="Login">
            </app-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </form>

</ion-content>