<ion-content [fullscreen]="true">

  <div class="header">
    <div class="p"><p>{{ 'WELCOME_MESSAGE' | translate }}</p></div>
  <div class="languageContainer">
    <ion-button (click)="languageChanger($event)"data-lang="en">Ingles</ion-button>
    <ion-button (click)="languageChanger($event)"data-lang="es">Español</ion-button>
  </div>
  </div>




 <ion-card-content class="container-carta">

<app-card></app-card>

</ion-card-content>



<ion-fab slot="fixed" vertical="bottom" horizontal="end" >
<app-floating-button
color="primary"
(click)="pickImage()"
name="add"
horizontal="end"
>

</app-floating-button>

<app-floating-button
color="danger"
(click)="Salteya()"
name="exit"
style="margin: 0.5px;"
>
</app-floating-button>
</ion-fab>




</ion-content>